* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #d8c894;
    --light-color: #ffffff;
    --gold-color: rgb(136, 106, 15);
}

html {
    font-family: system-ui, sans-serif;
}

img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

button {
    padding: 0.5rem 1rem;
    background: var(--gold-color);
    border-radius: 5px;
    border: none;
    color: black;
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.35);
}

button:hover {
    cursor: pointer;
}

body {
    min-height: 100vh;
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.frame {
    display: flex;
    justify-content: center;
    border: 10px solid var(--gold-color);
    border-radius: 2px;
    max-width: 70vw;
    min-width: 10rem;
    min-height: 10rem;
    background: #000000;
    box-shadow: 3px 6px 6px hsl(0deg 0% 0% / 0.35);
}