* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #d2bf87;
    --spotlight-color: #d2bf87bb;
    --light-color: #ffffff;
    --gold-color: rgb(136, 106, 15);
}

html {
    font-family: system-ui, sans-serif;
}

img {
    max-width: 100%;
    object-fit: contain;
}

button {
    padding: 0.5rem 1rem;
    background: var(--gold-color);
    border-radius: 5px;
    border: none;
    color: black;
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.3);
}

button:hover {
    cursor: pointer;
}

body {
    min-height: 100vh;
    padding: 2rem;
    background: radial-gradient(var(--spotlight-color), var(--bg-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.frame {
    display: flex;
    justify-content: center;
    border: 10px solid var(--gold-color);
    border-radius: 2px;
    max-width: 20rem;
    min-width: 10rem;
    min-height: 15rem;
    background: #000000;
    box-shadow: 3px 6px 6px hsl(0deg 0% 0% / 0.3);
}